        <!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/" class="logo-expanded">
                    <i class="fas fa-paw"></i>
                    <span class="nav-label">ADOPTAPP</span>
                </a>
            </div>
            <!-- / brand -->
        
            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled">
                    <li class="active"><a href="/"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
                    <li class="has-submenu"><a href="#"><i class="ion-flask"></i> <span class="nav-label">Mascotas</span></a>
                        <ul class="list-unstyled">
                            <li><a href="/nuevaMascota">Nueva mascota</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="/geo">Mascotas ordenadas</a></li>
                        </ul>                        
                        <ul class="list-unstyled">
                            <li><a href="/mapa">Mapa</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
                
        </aside>
        <!-- Aside Ends-->