<!DOCTYPE html>
<html lang="en">
    <% include ./layouts/head %>
    <% include ./layouts/imports %>
    <body>
        <% include ./layouts/menuLateral %>
        <!--Main Content Start -->
        <section class="content">
            <!-- Page Content Start -->
            <!-- ================== -->
            <% include ./layouts/topNav %>
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title"><%= pagina %></h3> 
                </div>
                <!-- ¡Aqui ponemos el contenido de la pagina! -->
                <div class="btn btn-primary">Nuevo</div>
                 <!-- Formulario -->
                 <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Agregar nueva adopción</h3></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="/nuevaMascota/adopcion/nueva" method="POST">                                                                       
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Nombre</label>
                                        <div class="col-md-10">
                                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la mascosta">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Edad</label>
                                        <div class="col-md-10">
                                            <input type="number" id="edad" name="edad" value="0" min="0" class="form-control" placeholder="Edad de la mascota">
                                        </div>
                                    </div>                                                                           
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Descripción</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" id="info" name="info" rows="5" placeholder="Añade toda la información posible del animal"></textarea></textarea>
                                        </div>
                                    </div> 
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                      </div>    
                                      <button class="btn btn-success" type="submit">Agregar</button>                 
                                </form>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->

            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2015 © Velonic.
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->
        
        <!--form validation-->
        <script type="text/javascript" src="assets/jquery.validate/jquery.validate.min.js"></script>

        <!--form validation init-->
        <script src="assets/jquery.validate/form-validation-init.js"></script>

        <% include ./layouts/scripts %>
    </body>
</html>
