<!DOCTYPE html>
<html lang="en">
    <% include ./layouts/head %>
    <% include ./layouts/imports %>

    <body>
        <% include ./layouts/menuLateral %>
        <!--Main Content Start -->
        <section class="content">
            <!-- Page Content Start -->
            <!-- ================== -->
            <% include ./layouts/topNav %>
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Adopta</h3> 
                </div>
                <!-- ¡Aqui ponemos el contenido de la pagina! -->

                <div class="row">
                    <div class="col-lg-8">
                        <h1>Cliente stream</h1>
                        <img id="streaming"></img>
                    </div> <!-- end col -->          
                </div> <!-- End row -->
                <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
	<b>USERS</b>
	<div id="users"></div>
</div>
<div style="float:left;width:550px;height:250px;overflow:scroll-y;padding:10px;">
	<div id="conversation"></div>
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
</div>
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->
            <!-- Footer Start -->
            <footer class="footer">
                2015 © Velonic.
            </footer>
            <!-- Footer Ends -->
        </section>
        <!-- Main Content Ends -->
        <!-- Scripts -->
        <% include ./layouts/scripts %>
        <script type="text/javascript">
var my_username = '';
function send_individual_msg(id)
{
	//alert(id);
	//alert(my_username);
	socket.emit('check_user', my_username, id);
	//socket.emit('msg_user', id, my_username, prompt("Type your message:"));
}
	var socket = io.connect('http://localhost:88');	
	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		socket.emit('adduser', userEmail);
	});
	// listener, whenever the server emits 'msg_user_handle', this updates the chat body
	socket.on('msg_user_handle', function (username, data) {
		$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');			
	});
	
	// listener, whenever the server emits 'msg_user_found'
	socket.on('msg_user_found', function (username) {
		//alert(username);
		socket.emit('msg_user', username, my_username, prompt("Type your message:"));
	});
	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function (username, data) {
		$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
	});
	
	// listener, whenever the server emits 'store_username', this updates the username
	socket.on('store_username', function (username) {
		my_username = username;
	});	
	// listener, whenever the server emits 'updateusers', this updates the username list
	socket.on('updateusers', function(data) {
		//alert(data);
		//console.log(data);
		$('#users').empty();
		$.each(data, function(key, value) {
			$('#users').append('<div style="cursor:pointer;" onclick="send_individual_msg(\''+value+'\')">' + key + '</div>');
		});
	});
	// on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click( function() {
			var message = $('#data').val();
			if(message == '' || jQuery.trim(message).length == 0)
			return false;
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendchat', message);
		});
		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				//$('#datasend').focus().click();
				$('#datasend').click();
			}
		});
	});
</script>
    </body>
</html>
