<!DOCTYPE html>
<html lang="en">
    <% include ./layouts/head %>
    <% include ./layouts/imports %>

    <body>
        <% include ./layouts/menuLateral %>
        <!--Main Content Start -->
        <section class="content">
            <!-- Page Content Start -->
            <!-- ================== -->
            <% include ./layouts/topNav %>
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Adopta</h3> 
                </div>
                <!-- ¡Aqui ponemos el contenido de la pagina! -->

                <div class="row">
                    <div class="col-lg-8">
                        <h1>Cliente stream</h1>
                        <img id="streaming"></img>
                    </div> <!-- end col -->          
                </div> <!-- End row -->
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->
            <!-- Footer Start -->
            <footer class="footer">
                2015 © Velonic.
            </footer>
            <!-- Footer Ends -->
        </section>
        <!-- Main Content Ends -->
        <!-- Scripts -->
        <% include ./layouts/scripts %>
        <script>
            (function (d, w, n, io){
                'use strict'
                
                var io = io()
                 io.on('stream', function (video){
                     console.log('stream')
                     d.querySelector('#streaming').src = video;
                 })

            })(document,window, navigator, io); //Funcion que se ejecuta en cuanto se lee
        </script>
    </body>
</html>
