<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
	<% include ./layouts/imports %>

		<body>
			<% include ./layouts/menuLateral %>
				<!--Main Content Start -->
				<section class="content">
					<!-- Page Content Start -->
					<!-- ================== -->
					<% include ./layouts/topNav %>
						<div class="wraper container-fluid">
							<div class="page-title">
								<h3 class="title">Adopta</h3>
							</div>
							<!-- ¡Aqui ponemos el contenido de la pagina! -->

							<div class="row">
								<div class="col-lg-8">
									<h1>Cliente stream</h1>
									<img id="streaming"></img>
								</div>
								<!-- end col -->
							</div>
							<!-- End row -->
							<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
								<b>USERS</b>
								<div id="users"></div>
							</div>
							<div style="float:left;width:550px;height:250px;overflow:scroll-y;padding:10px;">
								<div id="conversation"></div>
								<input id="data" style="width:200px;" />
								<input type="button" id="datasend" value="send" />
							</div>
						</div>
						<% include ./layouts/chat %>
						<!-- Page Content Ends -->
						<!-- ================== -->
						<!-- Footer Start -->
						<footer class="footer">
							2015 © Velonic.
						</footer>
						<!-- Footer Ends -->
				</section>
				<!-- Main Content Ends -->
				<!-- Scripts -->
				<% include ./layouts/scripts %>
		</body>

</html>