<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
<link href="/css/404.css" rel="stylesheet">

    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% if(typeof(user) != 'undefined'){%>
                        <% var usuario = user %>
                            <%}%>
                            <% include ./layouts/topNav %>
                                <% if(usuario.emailConfirmado == 1){ %>
                                    <div class="wraper container-fluid">
                                        <h1>¡Tu cuenta ya está confirmada!</h1>
                                        <div class="window">
                                        <div class="button"></div>
                                        <div class="display">¡EEEY!</div>
                                        </div><!--end window-->
                                        <p style="margin: 1%;">... ya puedes ¡<a href="/login">conectarte</a>!</p>        
                                    </div>
                                <% }else{ %>
                                    <div class="wraper container-fluid">
                                        <div class="window">
                                        <div class="button"></div>
                                        <div class="display">¡Confirmado!</div>
                                        </div><!--end window-->
                                        <p style="margin: 1%;">... ya puedes ¡<a href="/login">conectarte</a>!</p>        
                                    </div>
                                <% } %>
                                    <!-- End row -->

                                    </div>
                                    <!-- Page Content Ends -->
                                    <!-- ================== -->
                                    </div>
                                    <!-- Footer Start -->
                                    <footer class="footer">
                                        2015 © Velonic.
                                    </footer>
                                    <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>
</html>