<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% include ./layouts/topNav %>
                        <div class="wraper container-fluid">
                            <div class="page-title">
                                <h3 class="title">Adopta</h3>
                            </div>
                            <!-- ¡Aqui ponemos el contenido de la pagina! -->

                            <div class="row">
                                <div class="col-lg-8">

                                    <div class="portlet">
                                        <!-- /primary heading -->
                                        <div class="portlet-heading">
                                            <h3 class="portlet-title text-dark text-uppercase">
                                                Projects
                                            </h3>
                                            <div class="portlet-widgets">
                                                <a href="javascript:;" data-toggle="reload">
                                                    <i class="ion-refresh"></i>
                                                </a>
                                                <span class="divider"></span>
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2">
                                                    <i class="ion-minus-round"></i>
                                                </a>
                                                <span class="divider"></span>
                                                <a href="#" data-toggle="remove">
                                                    <i class="ion-close-round"></i>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="portlet2" class="panel-collapse collapse in">
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <tr>
                                                        <% mascotas.forEach(function(mascota){ %>
                                                           <td> <%- mascota.nombre %> </td>
                                                        <% }); %>
                                                        </tr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->


                            </div>
                            <!-- End row -->

                        </div>
                        <!-- Page Content Ends -->
                        <!-- ================== -->

                        <!-- Footer Start -->
                        <footer class="footer">
                            2015 © Velonic.
                        </footer>
                        <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>

</html>