<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
<link href="/css/404.css" rel="stylesheet">

    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                                <% include ./layouts/topNav %>
                                    <div class="wraper container-fluid">
                                        <h1>Deberás de presionar en <a href="/registrar">REGÍSTRATE</a>...</h1>
                                        <div class="window">
                                        <div class="button"></div>
                                        <div class="display">No estás conectado</div>
                                        </div><!--end window-->
                                        <p style="margin: 1%;">... si es que deseas ver tu perfil, claro. Si no estás registrado como vas a entrar en tú perfil?</p>        
                                    </div>
                                    <!-- End row -->

                                    </div>
                                    <!-- Page Content Ends -->
                                    <!-- ================== -->
                                    </div>
                                    <!-- Footer Start -->
                                    <footer class="footer">
                                        2015 © Velonic.
                                    </footer>
                                    <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>
</html>