<!DOCTYPE html>
<html lang="en">
    <% include ../layouts/head %>
    <link rel="stylesheet" type="text/css" href="assets/form-wizard/jquery.steps.css" />
    <link href="/css/unai.css" rel="stylesheet">

    <% include ../layouts/imports %>
    
    <body>
        <!--Main Content Start -->
            <!-- Page Content Start -->
            <!-- ================== -->
            <% if(typeof(user) != 'undefined'){%>
                <% var usuario = user %>
            <%}%>
                
            <div class="image-container set-full-height" style="background-image: url('http://traditioncommunityassc.com/wp-content/uploads/2016/03/Dog-Park-3.jpg')">
                <!--   Big container   -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!-- Wizard container -->
                            <div class="wizard-container">
                                <div class="card wizard-card" data-color="green" id="wizard">
                                    <form action="nuevo" method="post">
                                <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
        
                                        <div class="wizard-header">
                                            <h3 class="wizard-title">
                                                ¡REGíSTRATE!
                                            </h3>
                                            <h5>Gracias por ayudar a un amigo.</h5>
                                        </div>
                                        <div class="wizard-navigation">
                                            <ul>
                                                <li><a href="#acceso" data-toggle="tab">Razón</a></li>
                                                <li><a href="#datos" data-toggle="tab">Datos Personales</a></li>
                                                <li><a href="#notificaciones" data-toggle="tab">Notificaciones</a></li>
                                            </ul>
                                        </div>
        
                                        <div class="tab-content">
                                                <div class="tab-pane" id="acceso">
                                                        <h4 class="info-text">Elige la razón por la que vienes: </h4>
                                                        <div class="row">
                                                            <div class="col-sm-10 col-sm-offset-1">
                                                                <div class="col-sm-4">
                                                                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Elija esta opción si desea dar notificación de que su perro se ha perdido.">
                                                                        <input type="radio" name="accion" value="perdido">
                                                                        <div class="icon">
                                                                            <i class="material-icons"><i class="fas fa-paw"></i></i>
                                                                        </div>
                                                                        <h4>PERDIDO</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Seleccione esta opción para adoptar un nuevo amigo.">
                                                                        <input type="radio" name="accion" value="adopcion">
                                                                        <div class="icon">
                                                                            <i class="material-icons"><i class="fas fa-paw"></i></i>
                                                                        </div>
                                                                        <h4>ADOPCIÓN</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="NO lo dejes en la calle, perocúpate como él lo haría y intenta encontrar una familia para él.">
                                                                        <input type="radio" name="accion" value="daradopcion">
                                                                        <div class="icon">
                                                                            <i class="material-icons"><i class="fas fa-paw"></i></i>
                                                                        </div>
                                                                        <h4>DAR EN ADOPCIÓN</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="tab-pane" id="datos">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h4 class="info-text"> Rellene el formulario con sus datos personales.</h4>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><i class="fas fa-user"></i></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                  <label class="control-label">Nombre ...   </label>
                                                                  <input name="nombre" type="text" class="form-control">
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><i class="fas fa-at"></i></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                  <label class="control-label">Correo Electrónico ...</label>
                                                                  <input id="email" name="email" type="text" class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><i class="fas fa-key"></i></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Contraseña:</label>
                                                                <input id="contrasena" name="contrasena" type="password" class="form-control"> 
                                                            </div>
                                                        </div>
        
                                                </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">... y apellidos</label>
                                                                <input name="apellido" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label"> ... y confirmación del correo.</label>
                                                                <input id="emailConfirm" name="emailConfirm" type="text" class="form-control" onblur="confirmEmail()">
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label"> ... y confirmación de contraseña.</label>
                                                                <input id="passConfirm"  name="passConfirm"  type="password" class="form-control" onblur="confirmPass()">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="notificaciones">
                                                <div class="row">
                                                    <h4 class="info-text"> Elija si desea recibir notificaciones sobre:</h4>
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> Recibir noticias sobre:<br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <div class="form-group">
                                                                <label class="control-label"><b>Recuerde</b><br>Haciendo click en "Finalizar" cede sus derechos administrativos a Adoptap S.L. Si usted desea, puede acudir a leer los Derechos sobre las personas publicas y el apartado de Términos y condiciones, en caso de tener cualquier duda, no dude en contactarnos a través de los medios concretados en esta página.</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="wizard-footer">
                                            <div class="pull-right">
                                                <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Siguiente' />
                                                <input type='submit' class='btn btn-finish btn-fill btn-danger btn-wd' name='ey' value='Finalizar' />
                                            </div>
                                            <div class="pull-left">
                                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Paso anterior' />
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- wizard container -->
                        </div>
                    </div> <!-- row -->
                </div> <!--  big container -->
        
            </div>


        <!-- Main Content Ends -->
        
        <!--form validation-->
        <script type="text/javascript" src="assets/jquery.validate/jquery.validate.min.js"></script>

        <!--form validation init-->
        <script src="assets/jquery.validate/form-validation-init.js"></script>
        <% include ../layouts/scripts %>
    </body>
</html>